 
.book
{
    border-bottom: 2px solid #007bff;
    padding: 20px;
    height: 300px;
}
.details{
    max-height: 100px;
    overflow: auto;
}
.year
{
      background-color: gray;
      margin: 5px;
      padding: 5px;
      border-radius: 4px;
      color: #FFF;
      width: 150px;
       
}
.paragraph
{
    background-color: rgb(36, 58, 96);
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    color: #FFF;
}
.borr
{
    background-color: rgb(157, 216, 186);
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    color: #FFF;
    width: 200px;
}
.borrow
{
     
    background-color: rgb(44, 46, 49);
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    color: #FFF;
    width: 200px;

}
.auther
{
    padding: 5px;
    margin: 5px;
   background: slategrey;
   border-radius: 4px;
   color: #FFF;
   width: 150px;
}
.btn_show{
    margin: 5px;
    margin-bottom: 10px;
}
.book form{
    position: relative;
    float: right;
    margin-bottom: 20px;
    margin-top: 10px;
}
.book form button{
    margin-left: 2px;
}
.card_book{
    background: #343a40!important;
    color: #FFF;
}
.card_{
    margin-top: 30px;
}
#error-name-book,#error-details-book,#error-auther-book,#error-date-book{
    display: none;
}