.navbar{
    background-color: #343a40!important;
     color: #FFF;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(119, 117, 117) ;
}
.navbar .head h1 a
{
    color: #FFF;
    text-decoration: none;
    transition: .5s all ease-in-out ;
}
.navbar .actions ul li:hover{
    cursor: pointer;
}
.navbar .actions ul li{
    display: inline-block;
    padding-left: 10px;
    font-weight: bold;
}
.navbar .actions ul a
{
    color: #FFF;
    text-decoration: none;
} 
.navbar .actions ul{
    margin-top: 10px;
}